name: Check

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        hatch-environment:
          - "docs:build"
          - "test:precommit"
          - "test:pkglint"

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6

      - name: Install dependencies
        run: python -m pip install hatch

      - name: Run
        run: hatch run ${{ matrix.hatch-environment }}
