# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  - push

jobs:
  build-n-publish:
    name: Build and publish Python distributions to PyPI
    if: ${{ github.repository_owner == 'imapautofiler' }}

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install twine build
    - name: Build sdist and wheel
      run: |
        python -m build
    - name: Publish distribution to PyPI
      # This condition prevents PRs from being published as part of
      # the test job.
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@v1.12.4
      with:
        password: ${{ secrets.pypi_password }}
        verbose: true
        print_hash: true
